html, body {
    margin: 0;
    padding: 0;
}

div.root {
    font-size: 16px;
    font-family: "Times New Roman";
    color: #000;
    text-decoration: none;
}

div ul.avengers {
    list-style: none;
}

    div ul.avengers li.avenger {
        font-weight: bold;
        display: inline-block;
        border: solid black 3px;
        border-top-left-radius: 15px;
        margin-left: -6px;
        border-right: hidden;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        background-position-x: bottom;
    }

        div ul.avengers li.avenger:hover {
            text-decoration: underline;
            border-bottom: white 3px;
            width: auto;
            background-color: #CCCCCC;
        }

            div ul.avengers li.avenger:hover > div.preview {
                display: block;
                background-color: #CCCCCC;
                border: solid black 3px;
                border-top: hidden;
                position: fixed;
                top: 60px;
                left: 36px;
            }

        div ul.avengers li.avenger:last-child {
            border-right: solid black 2px;
        }

.preview {
    display: none;
    width: 626px;
    height: 265px;
}

.skills {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    line-height: 64px;
    padding-left: 411px;
    padding-top: 35px;
    font-size: 21px;
    text-transform: capitalize;
}

div.preview img {
    border: solid White 5px;
    border-radius: 5px;
    margin: 15px;
    margin-top: 15px;
    width: 400px;
    position: fixed;
    top: 60px;
    left: 40px;
}
